html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
}
/* common styles */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}

.justify-center {
  justify-content: center;
}

.gap {
  gap: 30px;
}

/* navigation */
nav {
  justify-content: space-around;
  padding-top: 10px;
}

#logo img {
  width: 95px;
}

#links a {
  text-decoration: none;
  list-style: none;
  padding: 10px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.7s all;
  -webkit-transition: 0.7s all;
  -moz-transition: 0.7s all;
  -ms-transition: 0.7s all;
  -o-transition: 0.7s all;
  color: rgb(41, 41, 41);
}
#links a:hover {
  cursor: pointer;
  background-color: #e2b0afa3;
}

#links {
  padding: 0;
}

#collapsed-menu {
  background-color: #c99e9dab;
  padding: 10px 0;
}
.padding-lr{
padding: 0 20px;
}

/* hero */
#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/banner3.png");
  height: 100vh;
  position: relative;
}

#hero-header {
  position: absolute;
  width: 80%;
  height: 25%;
  background-color: #e2b0afa3;
  bottom: 15%;
  right: 0;
}

#header {
  text-align: center;
  font-family: "Magra", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  color: whitesmoke;
}
#cursive {
  font-family: cursive;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}
/* form styles */

#form-info {
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
}

#banner1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/banner1.jpg");
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000007a;
  color: white;
}

.overlay h2 {
  font-family: "Magra", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}
.overlay img {
  position: relative;
  animation: point infinite 1s ease-in-out;
}

@keyframes point {
  0% {
    left: 0px;
  }
  100% {
    left: 20px;
  }
}
#Appointment-Form {
  box-shadow: 2px 3px 2px 0 rgba(128, 128, 128, 0.429);
  padding: 30px;
}

input,
select {
  padding: 10px 20px;
  border: 0.5px solid rgba(128, 128, 128, 0.342);
}

#submit {
  padding: 15px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #c99e9d;
  font-weight: 600;
  transition: 0.4s all;
  font-family: cursive;
}

#submit:hover {
  background-color: #e75480;
  cursor: pointer;
  transform: scale(1.05);
}

label {
  color: #c99e9d;
  font-family: cursive;
}

#hourglass {
  align-self: center;
  animation: spin 0.7s linear;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
    visibility: hidden;
  }
}
/* error styles */

.display {
  display: block;
}

.display-inline {
  display: inline;
}

.hide {
  display: none;
}

.error-border {
  box-shadow: 0px 0px 10px 2px rgb(213, 0, 64);
}

.error-msg {
  color: rgb(213, 0, 64);
  font-size: 13px;
  margin: 0 0 10px 0;
}
/* Sitters info */

#sitters {
  text-align: center;
  padding: 30px;
}

#sitters h1 {
  color: #c99e9d;
  font-family: cursive;
}

#sitters p {
  font-weight: 600;
  font-family: cursive;
}

#sitters-grid {
  width: 90%;
  margin: auto;
  justify-items: center;
}

#sitters-grid p {
  margin: 10px 0 0 0;
}

#sitters-grid ul {
  padding: 0;
}

#sitters-grid ul li {
  list-style: none;
  font-weight: 200;
}

#no-sitter {
  font-size: 30px;
  font-weight: 300;
  font-family: cursive;
  color: #e75480;
}

#sitter-name {
  font-size: 25px;
  font-family: cursive;
}

.sitter-items {
  box-shadow: 2px 2px 2px 2px #dedede46;
  padding: 20px;
  position: relative;
}

.book-sitter {
  padding: 15px;
  background-color: #c99e9d;
  color: white;
  border: none;
  font-family: cursive;
  transition: 0.3s all;
}

.book-sitter:hover {
  background-color: #e75480;
  cursor: pointer;
  transform: scale(1.05);
}

.grid-3fr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-1fr {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-row1fr {
  display: grid;
  grid-template-rows: 1fr;
}

.sitter-images {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  align-self: center;
  justify-self: center;
}

.waitSitters {
  justify-self: center;
  position: absolute;
  bottom: -75px;
}

/* appointment details */

#appointment-details {
  width: 80%;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px 2px #dedede46;
  margin-bottom: 30px;
  min-height: 50vh;
}
#header2,
.header3 {
  font-family: cursive;
  color: #e75480;
}

.header3 {
  background-color: #d9b5722b;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#booking-details {
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
}
#client-info,
#service-info {
  padding: 20px;
}
.bold {
  font-weight: 500;
}

#urgency {
  color: red;
}
#confirm-booking {
  align-self: center;
  padding: 15px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #c99e9d;
  font-weight: 600;
  transition: 0.4s all;
  font-family: cursive;
  margin: 10px 0;
}

#confirm-booking:hover {
  background-color: #e75480;
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.confirmText {
  font-family: cursive;
  color: #e75480;
  text-align: center;
  font-size: 40px;
}

.confirmTexth3 {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

/* footer */
footer {
  background-color: #e2b0af29;

  padding: 40px;
  justify-items: center;
}

footer p {
  text-align: center;
}

#opening-hours {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px;
  box-shadow: 2px 2px 2px 2px #dedede46;
  text-align: center;
}

#opening-hours p,
#contacts-info p {
  font-weight: 500;
}

#opening-hours li {
  list-style: none;
}
#opening-hours ul {
  padding: 0;
}

#footer-logo {
  width: 130px;
}

#contacts-info {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px;
  box-shadow: 2px 2px 2px 2px #dedede46;
}

/* media queries */

@media screen and (max-width:1166px) and (min-width:768px) {
  #sitters-grid.grid-3fr{
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  
}
@media screen and (max-width: 1040px) {
  footer.grid-3fr {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 865px) {
  #collapsed-menu.hide {
    display: flex;
  }

  #links.flex {
    flex-direction: column;
  }
  .nav-items {
    width: 180px;
    max-height: 35px;
    overflow: hidden;
    position: relative;
    transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -ms-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
  }
  .toggle-nav {
    max-height: 500px;
  }
  .nav-items.flex {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 768px) {
  #hero{
    height: 60vh;
  }
  #client-infogrid.grid-2fr,
  #service-infogrid.grid-2fr {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  #sitters-grid.grid-3fr{
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .sitter-images{
    width: 270px;
  }
 
}

@media screen and (max-width: 760px) {
 
  #form-info {
    grid-template-columns: 1fr;
  }
  #sitters{
    padding: 15px;
  }
.sitter-images{
  width: 230px;
}
  #sitters-grid.grid-3fr{
    grid-template-columns: 1fr;
    gap: 60px;
  }
  #banner1 {
    display: none;
  }
  #header {
    font-size: 30px;
  }
  footer {
    padding: 12px;
  }
}

@media screen and (max-width: 320px) {
  #Appointment-from {
    padding: 7px;
  }
  #form-info {
    padding: 10px;
  }

  #opening-hours,
  #contacts-info {
    padding: 6px;
  }
}
